<h1><%= "#{@services.klass.model_name.human(count: 2)}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= "#{@services.klass.human_attribute_name('name')}" %></th>
      <th><%= "#{@services.klass.human_attribute_name('details')}" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.details %></td>
        <td><%= link_to "#{I18n.t('actions.show')}", service %></td>
        <td><%= link_to "#{I18n.t('actions.edit')}", edit_service_path(service) %></td>
        <td><%= link_to "#{I18n.t('actions.destroy')}", service, method: :delete, data: { confirm: I18n.t('views.common.confirmation_prompt') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{I18n.t('actions.create')} #{@services.klass.model_name.human}", new_service_path %>
