<h1><%= "#{@service.class.model_name.human}" %></h1>

<h2><%= "#{I18n.t('views.common.details')}" %></h2>
<p>
  <strong><%= "#{@service.class.human_attribute_name('name')}" %>:</strong>
  <%= @service.name %>
</p>

<p>
  <strong><%= "#{@service.class.human_attribute_name('details')}" %>:</strong>
  <%= @service.details %>
</p>

<% unless @service.proposals.empty? %>
  <h2><%= "#{I18n.t('views.services.show.proposals')}" %></h2>

  <ul>
    <% @service.proposals.each do |proposal| %>
      <li><%= link_to I18n.t('views.services.show.proposal', user: proposal.user.name), proposal_path(proposal) %></li>
    <% end %>
  </ul>
<% end %>

<% unless @service.requests.empty? %>
  <h2><%= "#{I18n.t('views.services.show.requests')}" %></h2>

  <ul>
    <% @service.requests.each do |request| %>
      <li><%= link_to I18n.t('views.services.show.request', user: request.user.name), request_path(request) %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to I18n.t('actions.edit'), edit_service_path(@service) %>
|
<%= link_to I18n.t('actions.back'), services_path %>
