<h1>Users</h1>

<h2>Map</h2>
<%
map_center_lat = 0
map_center_long = 0
markers = []

@users.each do |user|
  markers << {
    :latlng => [user.latitude, user.longitude],
    :popup => link_to(user.name, user)
  }
  map_center_lat = map_center_lat + user.latitude / @users.size
  map_center_long = map_center_long + user.longitude / @users.size
end
%>

<%= map(
  :center => {
    :latlng => [map_center_lat, map_center_long],
    :zoom => 14
  },
  :markers => markers) %>

<h2>List</h2>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= user.latitude %></td>
        <td><%= user.longitude %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
