<h1><%= "#{@user.class.model_name.human}" %></h1>

<p>
  <strong><%= "#{@user.class.human_attribute_name('email')}" %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= "#{@user.class.human_attribute_name('name')}" %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= "#{@user.class.human_attribute_name('address')}" %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= "#{@user.class.human_attribute_name('phone')}" %>:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong><%= "#{@user.class.human_attribute_name('latitude')}" %>:</strong>
  <%= @user.latitude %>
</p>

<p>
  <strong><%= "#{@user.class.human_attribute_name('longitude')}" %>:</strong>
  <%= @user.longitude %>
</p>

<% unless @user.proposals.empty? %>
  <h2><%= @user.proposals.klass.model_name.human %><h2>

  <ul>
    <% @user.proposals.each do |proposal| %>
      <li><%= link_to proposal.service.name, proposal_path(proposal) %></li>
    <% end %>
  </ul>
<% end %>

<% unless @user.requests.empty? %>
  <h2><%= @user.requests.klass.model_name.human %><h2>

  <ul>
    <% @user.requests.each do |request| %>
      <li><%= link_to request.service.name, request_path(request) %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to I18n.t('actions.edit'), edit_user_path(@user) %>
|
<%= link_to I18n.t('actions.back'), users_path %>
