<h1><%= "#{@requests.klass.model_name.human(count: 2)}" %></h1>

<p><%= "#{I18n.t('views.requests.index.introduction')}" %></p>
<p><%= "#{I18n.t('views.requests.index.suggestion')}" %></p>

<%= link_to "#{I18n.t('actions.create')} #{@requests.klass.model_name.human}", new_request_path %>

<h2><%= "#{I18n.t('views.common.map')}" %></h2>
<%
map_center_lat = 0
map_center_long = 0
markers = []

@requests.each do |request|
  markers << {
    :latlng => [request.user.latitude, request.user.longitude],
    :popup => link_to("#{request.service.name} by #{request.user.name}", request)
  }
  map_center_lat = map_center_lat + request.user.latitude / @requests.size
  map_center_long = map_center_long + request.user.longitude / @requests.size
end
%>

<%= map(
  :center => {
    :latlng => [map_center_lat, map_center_long],
    :zoom => 14
  },
  :markers => markers) %>

<h2><%= "#{I18n.t('views.common.list')}" %></h2>

<table>
  <thead>
    <tr>
      <th><%= "#{@requests.klass.human_attribute_name('user_id')}" %></th>
      <th><%= "#{@requests.klass.human_attribute_name('service_id')}" %></th>
      <th><%= "#{@requests.klass.human_attribute_name('notes')}" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= link_to request.user.name, user_path(request.user) %></td>
        <td><%= link_to request.service.name, service_path(request.service) %></td>
        <td><%= request.notes %></td>
        <td><%= link_to "#{I18n.t('actions.show')}", request %></td>
        <td><%= link_to "#{I18n.t('actions.edit')}", edit_request_path(request) %></td>
        <td><%= link_to "#{I18n.t('actions.destroy')}", request, method: :delete, data: { confirm: I18n.t('views.common.confirmation_prompt') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
