<h1><%= "#{@request.class.model_name.human}" %></h1>

<p>
  <strong><%= "#{@request.class.human_attribute_name('user_id')}" %>:</strong>
  <%= link_to @request.user.name, user_path(@request.user) %>
</p>

<p>
  <strong><%= "#{@request.class.human_attribute_name('service_id')}" %>:</strong>
  <%= link_to @request.service.name, service_path(@request.service) %>
</p>

<p>
  <strong><%= "#{@request.class.human_attribute_name('notes')}" %>:</strong>
  <%= @request.notes %>
</p>

<p>
  <strong><%= "#{@request.class.human_attribute_name('active')}" %>:</strong>
  <%= @request.active %>
</p>

<%= link_to I18n.t('actions.edit'), edit_request_path(@request) %>
|
<%= link_to I18n.t('actions.back'), requests_path %>
