<p id="notice"><%= notice %></p>
<h1>Request</h1>

<p>
  <strong>User:</strong>
  <%= link_to @request.user.name, user_path(@request.user) %>
</p>

<p>
  <strong>Service:</strong>
  <%= link_to @request.service.name, service_path(@request.service) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @request.notes %>
</p>

<p>
  <strong>Active:</strong>
  <%= @request.active %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
