<h1><%= I18n.t('views.pages.home.welcome_header', platform_name: I18n.t('platform_name')) %></h1>

<p><%= I18n.t('views.pages.home.message_objective') %></p>
<p><%= I18n.t('views.pages.home.message_question') %></p>

<span class="huge">
  <%= link_to I18n.t('views.pages.home.action_propose'), proposals_path %>
  |
  <%= link_to I18n.t('views.pages.home.action_request'), requests_path %>
</span>
