<h1>Proposal</h1>

<p>
  <strong>User:</strong>
  <%= link_to @proposal.user.name, user_path(@proposal.user) %>
</p>

<p>
  <strong>Service:</strong>
  <%= link_to @proposal.service.name, service_path(@proposal.service) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @proposal.notes %>
</p>

<p>
  <strong>Active:</strong>
  <%= @proposal.active %>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
